
@{
    ViewData["title"] = "presentation";
}
<div class="row justify-content-center text-center ">
    <div class="col col-md-7 section-description ">
        <h1 class="display-4">Bienvenido</h1>
        <p class="align-content-center">Me llamo David Badia y me gustaria acompañarte en este viaje desde tu interior hacia tu nuevo yo.
            Para poder tener una vida más plena debemos equilibar nuestra rueda de la vida, eso quiere decir, hacer que nuestras emociones fluyan con suaves balanceos y que no hagan picos.
        </p>

    </div>

</div>
