
@{
    ViewData["Title"] = "wheel description";
}

<table class="text-center align-content-center table table-hover table-bordered table-sm table-responsive">
    <thead>
        <tr>
            <th >Concepto</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">Ocio</td>
            <td>Las relaciones sociales que tenemos</td>
       </tr>
        <tr>
            <td>Salud</td>
            <td>Buena alimentación, descanso y deporte</td>
       </tr>
        <tr>
            <td>Pareja</td>
            <td>Salud sentimental, que tal estamos con nuestra pareja?Relación sana y de igual a igual?</td>
       </tr>
        <tr>
            <td>Familia</td>
            <td>Cómo son nuestras relaciones con nuestros padres y hermanos, son buenas?Hay reproches o rencores?</td>
       </tr>
        <tr>
            <td>Amigos</td>
            <td>Que calidad de amistad tenemos? Son amigos reales o son de socializar? Clases de amigos y nuestras exigencias...</td>
       </tr>
        <tr>
            <td>Personal</td>
            <td>Que tan satisfecho estoy con mi vida personal? Me siento bien conmigomismo, autoestima suficiente?</td>
       </tr>
        <tr>
            <td>Trabajo</td>
            <td>Mi trabajo me llena, me siento menospreciado o por el contrario estoy muy bien considerado?</td>
        </tr>
        <tr> 
            <td>Dinero</td>
            <td>Nuestra economia es suficiente, nos permite vivir tranquilos?Estamos satisfechos con ella</td>
        </tr>

    </tbody>

</table>